.footer{
    background-color: rgb(34,34,34);
    width: 100%;
    padding: 70px;
    display: flex;
    font-size: 17px;  
   justify-content: center;
}

.nav-options{
    color: white;
}
.underline{
    border-bottom: 1px solid white;
}

