.main-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.filter-div-box {
  
  margin:auto;
  background-color: #ffc0cb;
  width: 40%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid red;
}
