.main-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.filter-div-box {
  margin: 30px auto;
  padding: 20px;
  background-color: #ffc0cb;
  width: 50%;
  border-radius: 4px;
  border: 1px solid red;
}

.filter-div-box input{
  border: 0px;
  padding: 10px;
  width: 100%;
}

.list-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.list-container h3{
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.groceries-list{
  width: 30%;
}

.basket-list{
  width: 30%;
}

.basket-remove{
  float: right;
  color: #ffc0cb;

}
.basket-remove:hover{
  color: red;
}