.list-item {
  list-style: none;
  margin: 7px 0;
  padding: 10px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.list-item:nth-child(2n) {
  background-color: #f9f9f9;
}
.list-item:nth-child(2n + 1) {
  background-color: #efefef;
}

.list-itemAdd::before {
  margin-right: 15px;
  font-family: FontAwesome;
  content: "\f196";
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}
.list-itemAdd:hover::before {
  content: "\f0fe";
  color: green;
}

.list-itemRemove::before {
  margin-right: 15px;
  font-family: FontAwesome;
  content: "\f147";
  font-weight: bold;
  color: white;
  font-size: 1.2em;
}
.list-itemRemove:hover::before {
  content: "\f146";
  color: red;
}
